  body {
    overflow: hidden;
    background: #3b0e68;
    background: radial-gradient(circle, #3b0e68 0%, #1a084e 100%);
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.mic::before,
.mic::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 20px 20px #1c084f;
}

.mic::before {
    width: 300px;
    height: 300px;
    background-color: #1a084e;
}

.mic::after {
    width: 250px;
    height: 150px;
    background-color: #2f1e5f;
    animation: circle-size 0.8s linear infinite alternate;
}

.mic-icon {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    display: block;
    width: 15px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 20px;
    z-index: 3;
}

.mic-icon::before,
.mic-icon::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.mic-icon::before {
    width: 2px;
    height: 5px;
    top: calc(100% + 1px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
}

.mic-icon::after {
    border: 2px solid;
    width: 8px;
    height: 18px;
    left: 50%;
    top: -10px;
    border-radius: 4px;
    transform: translate(-50%, 0);
}

.mic-shadow {
    width: 275px;
    height: 275px;
    position: absolute;
    top: 60%;
    left: 50%;
    border-radius: 100%;
    z-index: 1;
    box-shadow: 10px -55px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 51px 5px 17px 10px #1b7d8f, 3px 2px 77px 10px #f30bf5;
    animation: shadow-rotate 1.5s linear infinite;
    transform-origin: center;
}

@keyframes circle-size {
    from {
        width: 150px;
        height: 150px;
    }

    to {
        width: 250px;
        height: 250px;
    }
}

@keyframes shadow-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.mic:hover {
    transform: translate(-50%, -50%) scale(1.1);
    /* Increase scale on hover */
       cursor: pointer;  
    /* Change cursor to pointer on hover */
}


/* .button-34 { 
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
*/


